@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
#root {
  height: 100%;
  background-color: #fafafa;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  height: 100%;
}
